doctype html
include includes/head.pug
body
  include includes/header.pug
  //- include includes/sub-header.pug
  //- include includes/cgu.pug
  //- include includes/blog.pug
  //- include includes/article.pug
  //- include includes/footer.pug
  include includes/landing.pug