.article
    .article__big-picture
        img(src='./assets/article-image.jpg').article__big-picture__image
    .article__container.container
        .article__container__meta posté le 10/10/91
        .article__container__title This is a title 
        .article__container__content
            .article__container__content__lead.
                We offer a dependable and quick supply of copy paper suited to all kinds of printers. Each of our various products is designed to provide the finest performance and meet international standards.
            .article__container__content__text.
                We offer a dependable and quick supply of copy paper suited to all kinds of printers. Each of our various products is designed to provide the finest performance and meet international standards. We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees to significantly improve not only their productivity, but what’s more important – job satisfaction.
            .article__container__content__text.
                We offer a dependable and quick supply of copy paper suited to all kinds of printers. Each of our various products is designed to provide the finest performance and meet international standards. We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees to significantly improve not only their productivity, but what’s more important – job satisfaction.
            .article__container__content__text.
                We offer a dependable and quick supply of copy paper suited to all kinds of printers. Each of our various products is designed to provide the finest performance and meet international standards. We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees to significantly improve not only their productivity, but what’s more important – job satisfaction.

        .category-separator
            .category-separator__text Dernières nouvelles
        .teaser-list.teaser-list--two-col
            article.teaser.teaser--two-col
                figure.teaser__figure
                    picture.teaser__figure__picture
                        img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
                .teaser__content
                    h4.teaser__content__title Titre de teaser
                    span.teaser__content__meta posté le 10/10/91
                    p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
            article.teaser.teaser--two-col
                figure.teaser__figure
                    picture.teaser__figure__picture
                        img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
                .teaser__content
                    h4.teaser__content__title Titre de teaser
                    span.teaser__content__meta posté le 10/10/91
                    p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
            article.teaser.teaser--two-col
                figure.teaser__figure
                    picture.teaser__figure__picture
                        img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
                .teaser__content
                    h4.teaser__content__title Titre de teaser
                    span.teaser__content__meta posté le 10/10/91
                    p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
            article.teaser.teaser--two-col
                figure.teaser__figure
                    picture.teaser__figure__picture
                        img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
                .teaser__content
                    h4.teaser__content__title Titre de teaser
                    span.teaser__content__meta posté le 10/10/91
                    p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…