.container.blog
    .category-separator
        .category-separator__text A la une
    .teaser-list.teaser-list--two-col
        article.teaser.teaser--two-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…

        article.teaser.teaser--two-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…

    .category-separator
        .category-separator__text Dernières nouvelles
    .teaser-list.teaser-list--one-col
        article.teaser.teaser--one-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
        article.teaser.teaser--one-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
        article.teaser.teaser--one-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…
        article.teaser.teaser--one-col
            figure.teaser__figure
                picture.teaser__figure__picture
                    img.teaser__figure__picture__img(src="./assets/article-empty-placeholder.jpg" alt="Graffiti dans le sud de Porto")
            .teaser__content
                h4.teaser__content__title Titre de teaser
                span.teaser__content__meta posté le 10/10/91
                p.teaser__content__text We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees…