.container.container--with-padding-top.cgu__text.cgu
    h4.cgu__title.
        1. Domaine d’application
    p.cgu__text.
        Les   présentes   conditions   générales   d'utilisation   (les  CGU)   de   l’application   mobile «CaptTree»   (l’Application   Mobile)   régissent   les   rapports   entre   Landskies   S.à.R.L, société   à   responsabilité   limitée,   immatriculée   au   Registre   du   Commerce   et   des Sociétés de Luxembourgeois  le numéro  B239108, ayant son siège social 6 rue d’Arlon,   L-8399   Windhof   (Landskies)   et   tout   utilisateur  qui   crée   un   compte   sur de l’Application Mobile (l’Utilisateur).

    h4.cgu__title.
        2. Acceptation des Conditions Générales d’Utilisation  
    p.cgu__text.
        L'Utilisateur   déclare,   avoir   lu   les   présentes   CGU,   ainsi   que   la   Notice   d’information relative   à   la   protection   des   données   personnelles  et   la   Notice   d’information relative aux cookies, en avoir compris les termes et, en cochant la case appropriée à la fin des CGU,  les accepter sans limitations ni réserves. Les CGU applicables sont celles en vigueur.Si   l'Utilisateur   n'est   pas   d'accord   avec   les   CGU,   ou   l’une   de   ses   modifications subséquentes, il ne devra pas consulter et/ou utiliser l’Application Mobile. Les présentes CGU pourront être modifiées conformément à l’article 12 ci-dessous.
    h4.cgu__title.
        3. Description des services 
    p.cgu__text.
        En   utilisant   Captree,   l’Utilisateur   a   accès   gratuitement   aux   services   suivants (lesServices), disponibles via l’Application Mobile, qui pourront être modifiés, supprimés ou complétés au fil du temps à la discrétion de Landskies:
    p.cgu__text.
        Photographier/scanner   des   arbres   situés   dans   un   parc,   une   forêt,   un   espace boisé accessible au public. L’objectif est de remporter des trophées qui peuvent ensuite être transformésen   récompenses.   La   plantation   d’arbres   par   Landskies   pour   compenser   desémissions de CO2 fait partie des récompenses. Pour ce Service, l’Application  Mobile doit avoir accès  à l’appareil photo  et au GPS   de   votre  smartphone  (afin   que   les   arbres   photographiés/scannés   soientrépertoriés sur une carte). Ces accès peuvent être annulés à tout moment enallant dans le menu «Réglages» de votre smartphone, puis en sélectionnant lenom de l’Application Mobile et en allant dans «Appareil Photo» et «Position».Pour plus de renseignements sur les services disponibles, veuillez consulter la page suivante: captree.landskies.com
    h4.cgu__title.
        4. Conditions d’utilisation
    h5.cgu__sub-title. 
        4.1 Installation de l’application
    p.cgu__text.
        Seules   les   personnes   majeures   sont   supposées   utiliser   l’Application   Mobile   en   tantqu’Utilisateurs 1 L’Utilisateur pourra faire bénéficier des Services  à  tout tiers, notamment son enfant(mineur) et/ou toute personne placée sous son autorité (ex: tutelle ou curatelle) Le cas échéant, l’Utilisateur sera responsable de l’utilisation de l’Application Mobile pardes   Utilisateurs   Dérivés.   Les   Utilisateurs   Dérivés   seront   sous   la   responsabilité   et   la supervision de l’Utilisateur.

    h5.cgu__sub-title. 
        4.2 Utilisation personnelle de l’Application Mobile
    p.cgu__text.
        L’Utilisateur obtient le droit d’utiliser personnellement l’Application Mobile, à des fins propres,   pour   lui   et,   le   cas   échéant,   les   Utilisateurs   Dérivés,   sans   but   lucratif   et uniquement en conformité avec les présentes CGU. Par   conséquent,   Landskies   ne   saurait   en   aucun   cas   être   tenu   responsable   des conséquences   préjudiciables   résultant   des   utilisations   illicites,   frauduleuses   ouabusives et de l'accès à l’Application Mobile par un tiers non expressément autorisé par l’Utilisateur. L’Utilisateur   s’engage   à   prévenir   Landskies   dans   les   plus   brefs   délais,   de   toute utilisation   ou   suspicion   d’utilisation   frauduleuse   et   non   autorisée   de   l’Application Mobile. 
    h4.cgu__title.
        5. Obligations des parties
    h5.cgu__sub-title. 
        5.1 Obligations des Utilisateurs 
    p.cgu__text.
        Dans   le   cadre   de   l’utilisation   de   l’Application   Mobile,   chaque   Utilisateur   s’engage   àrespecter les obligations suivantes : 

    ul.cgu__list
        li.cgu__list__item.
            respecter les présentes CG
        li.cgu__list__item.
            ne pas violer le droit de propriété et le droit à la vie privée de tiers et s’assurer que la zone de promenade et/ou de jeu est accessible au public
        li.cgu__list__item.
            ne   pas   prendre   de   photographies   sur   lesquelles   apparaissent   des   personnes physiques et des bâtiments
        li.cgu__list__item.
            ne pas entreprendre d’actions qui pourraient le mettre en danger ou mettre endanger   autrui,   le   blesser   ou   blesser   autrui   (telles   que   monter   à   un   arbre,traverser une rivière, monter sur un obstacle potentiellement dangereux pouraller photographier un arbre, se promener les yeux bandés et photographier auhasard, etc.)
        li.cgu__list__item.
            ne   pas   publier   des   commentaires   ou   images   à   caractère   directement   ouindirectement   injurieux,   calomnieux,   offensant,   haineux,   menaçant,   raciste,discriminatoire,   diffamatoire,   pornographique,   érotique,   sexuel,   obscène,attentatoire   au   respect   de   la   vie   privée,   attentatoire   à   l’ordre   public   ou   auxbonnes   mœurs,   ou   autrement   contraire   aux   dispositions   légales   etréglementaires en vigueur
        li.cgu__list__item.
            ne   pas   publier   des   informations   fausses   ou   induisant   en   erreur   ou   quipromeuvent,   soutiennent,   renforcent,   incitent   à   la   commission   d’activité   illicites   ou   contraires   à   l’ordre   public   et   aux   bonnes   mœurs,   telles   quenotamment la violation du droit de propriété ou du droit à la vie privée et lesatteintes aux droits de propriété intellectuell
        li.cgu__list__item.
            ne pas harceler, inciter au harcèlement ou prôner le harcèlement ou la violence,qu’elle soit verbale, physique ou morale
        li.cgu__list__item.
            ne pas porter atteinte ou tenter de porter atteinte à la sécurité de l’Application Mobile   et   des   données   de   ses   Utilisateurs  et   Utilisateurs   Dérivés,   piraterl’Application   Mobile   ou   nuire   de   quelque   manière   que   ce   soit   à   l’Application Mobile   et   aux   données   de   ses   Utilisateurs   et   des   Utilisateurs   Dérivés notamment au moyen de virus informatique, surcharge (« denial of service »), «mailbombing », effectuer des actions qui représenteraient une contrainte non raisonnable ou disproportionnée pour l’infrastructure de l’Application Mobile ou encore   utiliser   des   systèmes   d’exploration   de   données,   des   robots   ou   toute autre méthode semblable pour la collecte et l’exploitation de données
        li.cgu__list__item.
            tenter de contacter les Utilisateurs et Utilisateurs Dérivés par téléphone ou par courrier électronique ou d’autres moyens sans avoir obtenu au préalable leuraccord li   ne   pas   publier   ou   mettre   d’une   quelconque   autre   manière   à   disposition   des autres   Utilisateurs   et   Utilisateurs   Dérivés   des   communications   et   du   contenu(notamment des textes, des photos, des images, des liens hypertextes ou desvidéos) à caractère publicitaire. L’Utilisateur   est   seul   responsable   de   l’édition   et   de   la   publication   de   tout   Contenu Utilisateur ou de tout Contenu Utilisateur Dérivé.Landskies   se   réserve   le   droit   arbitraire   de   suspendre   ou   de   résilier   l’inscription   de l’Utilisateur   en   cas   de   non-respect   des   présentes   CGU   par   l’Utilisateur   (ou   le   caséchéant, les Utilisateurs Dérivés), en particulier les règles mentionnées ci-dessus, sans préavis
    h5.cgu__sub-title. 
        5.2 Obligations de Landskies
    p.cgu__text.
        Landskies s’engage, dans le cadre d’une obligation de moyens, à apporter tout le soin et la diligence nécessaire à la mise en œuvre d’un service de qualité. Il ne pèse sur Landskies aucune   obligation   de   résultat   quant   à   la   disponibilité   permanente de l’Application Mobile, laquelle pourra faire l’objet d’interruptions arbitraires pour causede maintenance ou d’autres raisons (ou sans raison) pour une durée déterminée ou indéterminée.
    h4.cgu__title.
        6. Traitement de données à caractère personnel 
    p.cgu__text.
        Landskies traite des données à caractère personnel de l’Utilisateur et, le cas échéant,des   Utilisateurs   Dérivés   conformément   à   la  Notice   d’information   relative   à   la protection   des   données   personnelles,   qui   fait   partieintégrante du présent contrat. En souscrivant aux présentes CGU, l’Utilisateur a prisconnaissance de la  Notice d’information relative à la protection des données personnelles.

    h4.cgu__title.
        7. Utilisation des cookies
    p.cgu__text.
        Conformément   à   la  Notice   d’information   relative   aux   cookies,   qui   fait   partieintégrante   du   présent   contrat,   l’Application   Mobile   utilise   des   “cookies”   outechnologies   similaires   [EH:   veuillez   décrire   le   type   de   technologie   similaireutilisée.]. En souscrivant aux présentes CGU, l’Utilisateur a pris connaissance de laNotice d’information relative aux cookies 
    h4.cgu__title.
        8. Coûts
    p.cgu__text.
        La plupart des Services de l’Application Mobile sont accessibles gratuitement à toutUtilisateur   disposant   d'un   accès   à   internet.   Tous   les   coûts   afférents   à   l'accès   à l’Application Mobile, que ce soient les frais matériels, logiciels ou d'accès à internet, sont   exclusivement   à   la   charge   de   l'Utilisateur.   Il   est   seul   responsable   du   bonfonctionnement de son équipement informatique ainsi que de son accès à internet.

    h4.cgu__title.
        9. Sécurité et responsabilité
    p.cgu__text.
        Landskies   propose   par   le   biais   de   l’Application   Mobile   de   participer   à   une   activitécitoyenne ludique qui permet à l’Utilisateur et à l’Utilisateur Dérivé de se détendre en photographiant/scannant   des   arbres   tout   en   corrigeant   leur   empreinte   carbone   aumoyen de la plantation d’arbres. Landskies ne fait qu’héberger le Contenu Utilisateur et/ou, le cas échéant, le Contenu Utilisateur   Dérivé   diffusé   par   l’intermédiaire   de   l’Application   Mobile.  AÀ  ce   titre,Landskies   n’interviendra,   si   cela   est   nécessaire   que   pour   adapter   le   ContenuUtilisateur   et/ou,   le   cas   échéant,   le   Contenu   Utilisateur   Dérivé   à   l’apparence   de l’Application   Mobile   et   à   ses   spécificités   techniques.   Les   Utilisateurs   confirment   etacceptent que Landskies ait seulement un rôle passif dans la mise à disposition duContenu Utilisateur et/ou, le cas échéant, du Contenu Utilisateur Dérivé par le biais de l’Application   Mobile   et   par   conséquent  que   la  responsabilité  de  Landskies   quant   auContenu  Utilisateur   et/ou,   le  cas  échéant,  au  Contenu  Utilisateur  Dérivé  se  limite  àcelle prévue par la législation applicable au statut de l’hébergeur.  Landskies se réserve le droit de contrôler, modifier ou censurer le Contenu Utilisateur et/ou, le cas échéant, le Contenu Utilisateur Dérivé, notamment si cela est nécessaire,autorisé ou rendu obligatoire en vertu des lois ou règlementations applicables, sanspréjudice du maintien de son statut d’hébergeur vis-à-vis du Contenu Utilisateur et/ou,le cas échéant, du Contenu Utilisateur Dérivé.Landskies   a   pris   en   compte   les   aspects   de   sécurité   et   de   confidentialité   lors   de l’élaboration de l’Application Mobile. Si, malgré les mesures techniques de protection mises   en   place   par   Landskies,   les   informations   contenues   sur   l’Application   Mobile et/ou   les   données   transmises   par   l’Utilisateur   et/ou   l’Utilisateur   Dérivé   ou   à l’Utilisateur   et/ou   l’Utilisateur   Dérivé   venaient   à   être   interceptées,   décryptées,transmises à ou utilisées par un tiers, altérées, modifiées ou supprimées, Landskiesdéclinerait toute responsabilité vis-à-vis des conséquences directes ou indirectes qui pourraient en résulter pour l'Utilisateur et/ou l’Utilisateur Dérivé.  Landskies se réserve le droit de retirer promptement tout Contenu Utilisateur et/ou, lecas échéant, tout Contenu Utilisateur Dérivé  manifestement illicite dès qu’il en auraconnaissance. Ainsi par exemple, en cas d’indice(s) laissant supposer une atteinte aux droits de propriété intellectuelle d’un tiers, Landskies se réserve le droit de retirer lestextes, photos, images, vidéos ou tout autre contenu litigieux diffusé par un Utilisateur et/ou un Utilisateur Dérivé.Landskies   ne   peut   en   aucun   cas   être   tenue   responsable   en   cas   de   violation   parl’Utilisateur   et/ou   l’Utilisateur   Dérivé   des   dispositions   des   présentes   CGU   etnotamment en cas de non-respect des obligations mises à la charge de l’Utilisateur àl’article 5.1 ci-dessus. L’Utilisateur   tiendra   Landskies   quitte   et   indemne   contre   toute   action,   procédure, plainte, demande, frais d’avocats, d’expertise, frais fiscaux, dommages et intérêts ettoute  avance  effectuée,  liés au  non-respect  des  dispositions  prévues  aux  présentes CGU.

    h5.cgu__sub-title. 
        9.1 Responsabilité quant au fonctionnement de l’Application Mobile
    p.cgu__text.
        L’Utilisateur doit disposer de l’ensemble du matériel technique minimum requis pourassurer le fonctionnement normal de l’Application Mobile (et en faire bénéficier toutUtilisateur   Dérivé   le   cas   échéant).   Ce   matériel   doit   en   outre   être   correctement configuré.  Landskies   décline   toute   responsabilité   vis-à-vis   des   conséquences   directes   ou indirectes en cas:
