footer.footer
    .container.footer-container
        .footer__info
            img.footer__info__img(src='./assets/captree-logo-text-only.svg')
            .footer__info__text
                label
                    | Landskies Copyright 2020. <br/>All right reserved. &nbsp;
                a( href='/' + lang + '/cgu') FR
        .footer__social
            .footer__social__stores
                a(target='_blank' href='https://play.google.com/store/apps/details?id=com.landskies.captree')
                    img.footer__social__image.store(src='./assets/play-store.svg')
                a(target='_blank' href='https://apps.apple.com/fr/app/captree/id1511950772')
                    img.footer__social__image.store(src='./assets/app-store.svg')
            .footer__social__others 
                a(target='_blank' href='https://www.instagram.com/captreeapp/')
                    img.footer__social__image(src='./assets/instagram.svg')
                a(target='_blank' href='https://www.facebook.com/captreeapp')
                    img.footer__social__image.fb(src='./assets/facebook.svg')
                a(target='_blank' href='https://www.linkedin.com/showcase/capptree-app/')
                    img.footer__social__image.linkedin(src='./assets/linkedin.svg')
                a(target='_blank' href='https://twitter.com/CaptreeApp')
                    img.footer__social__image(src='./assets/twitter.svg')
