.header.header--absolute2.header--with-color
    .header-container
        img.header__logo(src='./assets/standalone-logo.svg')
        ul.header__menu
            li.header__menu__item.header__menu__item--active
                a.header__menu__item__link(href="/blog") Accueil
            li.header__menu__item
                a.header__menu__item__link(href="/blog") Blog
            li.header__menu__item
                a.header__menu__item__link(href="/blog") CGU
        .dropdown
            button.dropdown__button
                span FR
                img.caretdown(src='./assets/caret-down.svg')
            .dropdown__content
                a(href="/en") English  
                a(href="/fr") Français
.mobile-header.mobile-header--absolute2.mobile-header--with-color
    .header-container
        img.mobile-header__logo.header__logo(src='./assets/mobile-logo.svg')
        button.mobile-header__burger-menu.mobile-header__burger-menu--open2
            img.mobile-header__burger-menu__burger(src='./assets/burger-menu.svg')
            img.mobile-header__burger-menu__cross(src='./assets/burger-cross.svg')
        ul.header__menu.mobile-header__menu.mobile-header__menu--open2
            li.header__menu__item.header__menu__item--active
                a.header__menu__item__link(href="/blog") Accueil
            li.header__menu__item
                a.header__menu__item__link(href="/blog") Blog 