head
    meta(charset='UTF-8')
    title Captree
    meta(name='description' content='Ma planète. Mes arbres. Attrape un maximum d’arbres près de chez toi pour reboiser les sols du monde entier.')
    meta(name='keywords' content='Arbre, Réalité augmentée, Tree, Forêt, Planter, Plant, Forest, AR, Augmented reality, Android, Apple, iOS, Play store, Appstore')
    meta(name='author' content='Landskies')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="canonical" href="")
    link(rel="stylesheet" type="text/css" href="style/index.scss")
