.landing
    .landing__image-container
        .landing__image
    .landing__text
        .landing__text__content
            img.landing__text__content__standalone-logo.standalone-text-logo(src='./assets/captree-logo-text-only.svg')
            h1.landing__text__content__title Le jeu en réalité augmentée de qui plante de vrais arbres !
            p.landing__text__content__text
                | Capture des arbres autour de chez toi pour nous à reboiser les sols du monde entier 
            .landing__text__content__stores
                a(target='_blank' href='https://play.google.com/store/apps/details?id=com.landskies.captree')
                    img.store(src='./assets/play-store.svg')
                a(target='_blank' href='https://apps.apple.com/fr/app/captree/id1511950772')
                    img.store(src='./assets/app-store.svg')
            .landing__text__content__social 
                a(target='_blank' href='https://www.instagram.com/captreeapp/')
                    img(src='./assets/instagram.svg')
                a(target='_blank' href='https://www.facebook.com/captreeapp')
                    img.fb(src='./assets/facebook.svg')
                a(target='_blank' href='https://www.linkedin.com/showcase/capptree-app/')
                    img.linkedin(src='./assets/linkedin.svg')
                a(target='_blank' href='https://twitter.com/CaptreeApp')
                    img(src='./assets/twitter.svg')